<div>
  <p><%= @character.firstname %> <%= @character.lastname %></p>
  <p>Played by<%= @character.player %></p>
  <p><%= @character.gender %></p>
  <p><%= @character.race %></p>
  <p><%= @character.game.title %></p>
  <p><%= @character.job %></p>
  <p><%= @character.origin %></p>
  <p><%= @character.age %></p>
   <h3>Background</h3>
  <p><%= @character.background %></p>
</div>